#root {
  max-width: 100vw;
  margin: 0 auto;
  text-align: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: hidden;
}

.intro {
  margin-top: 60px;
  margin-left: 50px;
}

.bg {
  width: 100vw;
  height: 100vh;
  background-image: url('/background_img.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  opacity: 0.5;
  border-top: 1px solid transparent;
  display: flex;
  text-align: left;
  justify-content: space-between;
}

.info-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  justify-content: center;
  flex-grow: 1;
  margin-left: 20px;
  width: 50%;
  opacity: 1;
}

.arrow-button {
  background: none;
  border: none;
  font-size: 40px;
  cursor: pointer;
  margin-left: 10px;
}

.animated-text {
  display: inline-block;
  margin-left: 20px;
  font-size: 30px;
  white-space: nowrap;
  color: #320088;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
